* {
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 16px;
}

a,
a:visited {
    text-decoration: none;
    color: #e5e7eb
}
